<mat-sidenav-container class="sidenav-container">
  <mat-sidenav class="sidenav" fixedInViewport="true"
               [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
               [mode]="(isHandset$ | async) ? 'over' : 'side'"
               [opened]="!(isHandset$ | async)">
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <div fxFlex="0 1 auto" fxFlexFill fxLayoutAlign="start center">
        <button mat-button>
          <mat-icon>account_balance</mat-icon>
          <a i18n>Cluster</a>
        </button>
      </div>
      <div fxFlex="0 1 auto" fxLayoutAlign="end center">

        <button mat-button [matMenuTriggerFor]="menu">
          <mat-icon>dashboard</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item>
            <mat-icon>account_circle</mat-icon>
            <span i18n>Change Account</span>
          </button>
          <button mat-menu-item>
            <mat-icon>message</mat-icon>
            <span i18n>New Message</span>
          </button>
          <mat-divider></mat-divider>
          <button mat-menu-item>
            <mat-icon>exit_to_app</mat-icon>
            <span i18n>Logout</span>
          </button>
        </mat-menu>
      </div>
    </mat-toolbar>

    <!-- Add Content Here -->
    <router-outlet></router-outlet>
  </mat-sidenav-content>

</mat-sidenav-container>

