<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport="true" fixedTopGap="0"
               [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
               [mode]="(isHandset$ | async) ? 'over' : 'side'"
               [opened]="!(isHandset$ | async)">
    <mat-toolbar i18n>Menu </mat-toolbar>
    <mat-nav-list>
      <mat-accordion>
        <mat-expansion-panel expanded="true">
          <mat-expansion-panel-header>
            <mat-panel-title>
              <mat-icon>account_circle</mat-icon>
            </mat-panel-title>
            <mat-panel-description i18n>Cluster</mat-panel-description>
          </mat-expansion-panel-header>
          <mat-action-row fxLayoutAlign="start center">
            <button mat-button routerLink="list">
              <mat-icon>account_circle</mat-icon>
              <a i18n>List</a>
            </button>
          </mat-action-row>
        </mat-expansion-panel>
      </mat-accordion>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>

    <!-- Add Content Here -->
    <mat-toolbar color="primary">
      <div fxFlex="0 1 auto" fxFlexFill fxLayoutAlign="start center">
        <button
          type="button"
          aria-label="Toggle sidenav"
          mat-icon-button
          (click)="drawer.toggle()"
          *ngIf="isHandset$ | async">
          <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
        </button>
      </div>
      <div fxFlex="0 1 auto" fxLayoutAlign="center center">
        <button mat-button>
          <mat-icon>account_balance</mat-icon>
          <a i18n>Cluster</a>
        </button>
      </div>
      <div fxFlex="0 1 auto" fxLayoutAlign="end center">
        <button mat-button [matMenuTriggerFor]="menu">
          <mat-icon>dashboard</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item>
            <mat-icon>account_circle</mat-icon>
            <span i18n>Change Account</span>
          </button>
          <button mat-menu-item>
            <mat-icon>message</mat-icon>
            <span i18n>New Message</span>
          </button>
          <mat-divider></mat-divider>
          <button mat-menu-item>
            <mat-icon>exit_to_app</mat-icon>
            <span i18n>Logout</span>
          </button>
        </mat-menu>
      </div>
    </mat-toolbar>
    <router-outlet></router-outlet>
  </mat-sidenav-content>

</mat-sidenav-container>
